<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servler1</servlet-name>
        <servlet-class>com.mycompany.firstservlet.Servler1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TomServlet</servlet-name>
        <servlet-class>com.mycompany.firstservlet.TomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TomServletRead</servlet-name>
        <servlet-class>com.mycompany.firstservlet.TomServletRead</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servler1</servlet-name>
        <url-pattern>/Servler1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TomServlet</servlet-name>
        <url-pattern>/TomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TomServletRead</servlet-name>
        <url-pattern>/TomServletRead</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
